*{
  margin: 0;
  color: #2c568a;
  text-decoration: none;
  font-family: sans-serif;
  
}
.App {

  display: flex;
  
  background-color:#f6f8fa;
  padding-right: 20px;
 

 
}

.space{
 
    flex: 1;
    min-height: 100vh;
    background-color: white;
    margin-left: 160px;
   
    


}
.sidebar{
 
  
 
  color: rgb(58, 53, 125);
  border-right: 0.5px  ;
  height: 115vh;
  position: fixed;
  width: 140px;
  background-color: white;
    
   

}
.sidebar1{
 
  display: flex;
  flex-direction: column;
  align-items: center;  
  


  

}
.option{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  margin-top: 15px;
  font-size: small;
  
  
}
.assessoption{
  display: flex;
  flex: block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  margin-top: 15px;
  font-size: small;
  background-color: #e5f1fc;
  border: 1px solid #89bff4;
  padding-left : 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;

}

.admin{
  flex: block;
  border: 1px solid red;
  border-radius: 30px;
  background-color: rgba(214, 157, 157, 0.964);
  padding-left: 5px;
  padding-right: 5px;

}

.space1{
  display: flex;
  flex-direction: column;
  
  

}


